* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #000000;
    align-content: center;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.title {
    font-weight: 700;
    font-size: 40px;
    color: #23c483;
}

.score {
    color: #23c483;
}

.board {
    width: 360px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.card {
    width: 80px;
    height: 80px;
    background: #2c3e50;
    color: white;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

button {
    width: 100px;
    padding: 10px 0;
    transition: all 0.3s ease;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(81, 90, 86);
    color: white;
}

button:hover {
    background-color: #23c483;
    color: black;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}

.card.open {
    background: #a5a5a5;
    transform: rotateY(180deg);
    transition: 0.3s;
    color: #000;
}

.card.matched {
    background: #2ecc71;
    color: white;
    cursor: default;
}
